#online-list
{
  display: table;
  width: 90%;
  margin: 0 auto;
  min-height: 100px;
  border: 1px solid #ddd;
  margin-bottom: 50px;
}

#online-header
{
  display: table;
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 10px 20px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

#online-users-list
{
  box-sizing: border-box;
  display: table;
  width: 100%;
  padding: 10px 20px;
}

#online-users-list img
{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
